form {
    display: flex;
    position: relative;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    user-select: none;
}

input {
    width: 100%;
    background-color: hsl(236, 31%, 25%);
    color: white;
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 15px;
}

input:focus {
    outline: none;
}

.add-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    background-color: hsl(236, 31%, 40%);
    color: white;
    cursor: pointer;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 30px;
}

.add-btn:hover {
    background-color: hsla(236, 31%, 50%, 0.8);
}